#signature{
    text-align: center;
    color: white;
    padding-top: 580px;
}

body { 
    background: url(img/appbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#signup{
    margin-left: 20px;
    margin-top: 150px;
    box-shadow: 0px 0px 16px 1px black;
    background-color: white;
}

#signupbtn{
    margin-bottom: 20px
}
